<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .searchTable, .alert {
            display: none;
        }
    </style>
    <title th:text="${class.className}">Turma</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="" th:href="@{/admin/home}">
            <img th:src="@{/images/elearning.png}" src="../static/images/elearning.png" width="60" height="55"
                 class="d-inline-block align-top" alt=""/>
        </a>
        <div class="container-fluid">
            <ul class="navbar-nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="" th:href="@{/admin/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/professor}">Professores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/class}">Turmas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/student}">Estudantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/logout}" th:onclick="'modal()'">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container" th:field="${class}">
    <h3 th:text="${class.className}">UC</h3>
    <input type="hidden" th:value="${class.id}" id="idClass">
    <label><strong>Professor Responsável:</strong></label> <label
        th:text="${class.professorName}">Professor</label><br>
    <label><strong>Sala:</strong></label> <label th:text="${class.classRoom}">Sala</label><br>
    <label><strong>Horario:</strong></label> <label th:text="${class.time}" id="time">Horario</label><br>
    <label><strong>Dias da Semana:</strong></label> <label th:text="${class.classday}">Dias da Semana</label><br>

    <!--Botão Adicionar Aluno-->
    <button type="link" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Adicionar Aluno</button>
</div>
<br>
<div class="container">
    <div class="table-responsive-md">
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th scope="col">RA</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Turno</th>
                <th scope="col">Ações</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${Students}">
                <td th:text="${student.id}">RA</td>
                <td th:text="${student.name}">Nome</td>
                <td th:text="${student.email}">Email</td>
                <td th:text="${student.shift}">Shift</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm removeStudent" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Remover</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Modal Adicionar-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Aluno</h1>
                <div class="d-flex justify-content-end">
                    <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip"
                         data-bs-title="Somente alunos com o mesmo turno da turma serão exibidos."
                         data-bs-placement="left" width="32" height="32"
                         fill="currentColor" class="bi bi-question-circle-fill text-primary" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <form class="input-group">
                        <input type="number" class="form-control" name="keyword" id="keyword" required
                               placeholder="Procure o aluno pelo RA" size="10">
                        <button type="button" class="btn btn-primary" th:onclick="'searchButton()'">Buscar</button>
                    </form>
                </div>
                <br>
                <div class="alert alert-success" role="alert" style="display: none" id="alert"> Aluno adicionado com sucesso! </div>
                <div class="table-responsive-md">
                    <table class="table searchTable" id="table">
                        <thead class="table-primary" id="theadStudent">
                        <tr>
                            <th scope="col">RA</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody id="tbodyStudent">
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="modal-footer" style="border-top-color: white">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="'reload()'">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Deletar-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"><br>
            <div class="modal-body text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                     class="bi bi-exclamation-circle text-warning" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
            </div>
            <div class="alert alert-danger text-center" role="alert" id="alertDelete">
                Não foi possível remover o Estudante.
            </div>
            <br>
            <div class="text-center">
                <h3>Tem certeza que deseja remover este estudante?</h3>
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary btn-sm" th:onclick="'removeStudent()'">Sim, remover
                    estudante!
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/classDetails.js}"></script>

<script>
    /**
     * Script Bootstrap para usar o tooltip
     * */
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerE1 => new bootstrap.Tooltip(tooltipTriggerE1))
</script>

</body>
</html>